<nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-top">
  <a class="navbar-brand" routerLink="/">RailStatus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav"  data-toggle="collapse" data-target="#collapsibleNavbar" >
      <li class="nav-item">
        <a class="nav-link"routerLink="/pnr-status">PNR-tatus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/train-route">Train Route</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/seat-availability">Seat availability</a>
      </li>   
      <li class="nav-item">
          <a class="nav-link" routerLink="/train-between-stations">Train Between Stations</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" routerLink="/train-name-number">Train Name/Number</a>
          </li> 
          <li class="nav-item">
              <a class="nav-link" routerLink="/train-fare-enquiry">Train Fare Enquiry</a>
            </li>  
    </ul>
  </div>  
</nav>
