<div class="row" *ngIf="isRoutes()">
<h2 *ngFor="let trainname of routes[1]">{{trainname.name}}-{{trainname.number}}</h2>


  <ul *ngFor="let trainname of routes[1]">
      <h5>Running On</h5>
    <ul *ngFor="let trai of trainname.days">
      <li>{{trai.code}} ({{trai.runs}})</li>
    </ul>  
    </ul>
 

  <div class="table-responsive">
  <table class="table table-fixed" >
    <thead>
      <tr>
        <th class="col-lg-4 col-md-4 col-sm-4">Stations</th>
        <th class="col-lg-2 col-md-2 col-sm-2">Code</th>
        <th class="col-lg-2 col-md-2 col-sm-2">Scharr</th>
        <th class="col-lg-2 col-md-2 col-sm-2">Schdep</th>
        <th class="col-lg-2 col-md-2 col-sm-2">Day</th>
      </tr>
    </thead>
    <tbody class="table-wrapper-scroll-y">
      <tr *ngFor="let route of routes[0]">
        <td class="col-lg-4 col-md-4 col-sm-4">{{route.station.name}}</td>
        <td class="col-lg-2 col-md-2 col-sm-2">{{route.station.code}}</td>
        <td class="col-lg-2 col-md-2 col-sm-2">{{route.scharr}}</td>
        <td class="col-lg-2 col-md-2 col-sm-2">{{route.schdep}}</td>
        <td class="col-lg-2 col-md-2 col-sm-2">{{route.day}}</td>
      </tr>  
   
    </tbody>
  </table>
</div>
</div>

<div class="row" *ngIf="! isRoutes()">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <h4 class="waiting">Please check the train number and try again</h4>
</div>





