.row{
  margin-top: 90px;
}
.table-fixed thead {
    width: 97%;
  }
  .table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
  }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
  }
  .table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
  }
  .tb{
    height: 230px;
    overflow-y: auto;
    width: 100%;
  }
  dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style-type: none;
    display: inline-block;
    position: relative;
    left: -39px;
}
.waiting{
  position: relative;
  font-size: 18px;
  left: 1rem;
  top: 1rem;
}
.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em dotted blue;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}