<div class="row">
  <div class="train-route col-lg-6">
      <h3>Train Route Detail</h3>
      
      <form class="col-lg-12" #userForm="ngForm" (ngSubmit)="getRoute(userForm.value)" autocomplete="off">
          <div class="form-group">
            <label for="email">Train Number:</label>
            <input type="text" class="form-control" id="trainnumber" (ngModelChange)="valuechange($event)" placeholder="Enter Train Number" name="trainnumber" ngModel>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
  </div>
  <div class="col-lg-6">
      <app-train-route-detail [routes]="routes"></app-train-route-detail>
    </div>

</div>



