/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
body {
	width: 100wh;
	height: 90vh;
	color: #000000;
	background-size: 400% 400%;
	background-color:#F8F8F8;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: #273a4c;
    border: 2px solid #ffffff;
}